header
{
    text-align: center;
    font-size: large;
    width: 100%;
    border: 2px white;
    background-color: azure;
    padding: 5px;
    margin: 5px;
}
#nav{
    text-align: center;
    font-size: large;
    width: 100%;
    border: 2px white;
    background-color: azure;
    padding: 2px;
    margin: 5px;
}
#parent{
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    background-color: azure;
    padding: 2px;
    margin: 5px;
}
#content{
    display: inline;
    position: relative;
    text-align: center;
    font-size: large;
    border: 3px solid white;
    height: 350px;
    width: 25%;
}
#maincontent{
    position: relative;
    display: inline;
    text-align: center;
    font-size: large;
    border: 3px solid white;
    width: 50%;
    height: 350px;
}
#content2{
    display: inline;
    position: relative;
    text-align: center;
    font-size: large;
    border: 3px solid white;
    width: 25%;
    height: 350px;
}
footer{
    text-align: center;
    font-size: large;
}
